services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port ${BACKEND_PORT:-8320}
      --reload
    environment:
      BACKEND_PORT: "8320"
    ports:
      - "8320:8320"
    volumes:
      - ./backend:/app
    restart: unless-stopped

networks:
  default:
    driver: bridge

