#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}

.chat-html p {
  margin-bottom: 0.75em;
  line-height: 1.6;
}

.chat-html p:last-child {
  margin-bottom: 0;
}

.chat-html ul, .chat-html ol {
  margin-bottom: 0.75em;
  padding-left: 1.5em;
  list-style-type: disc;
}

.chat-html ol {
  list-style-type: decimal;
}

.chat-html li {
  margin-bottom: 0.25em;
  line-height: 1.5;
}

.chat-html h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: currentColor;
}

.chat-html h4 {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.chat-html strong {
  font-weight: 600;
}

.chat-html em {
  font-style: italic;
}

.chat-html code {
  font-family: monospace;
  background-color: rgba(127, 127, 127, 0.15);
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
  font-size: 0.9em;
}
